#works
{
    margin: 0 auto;
    min-height: calc(100vh-4rem);
    height: 100vh;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}
.workstitle
{
    margin: 1rem;
    font-size: 4rem;
}
.worksDesc
{
    font-weight: 300;
    font-size: 20px;
}
.worksImgs
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}
.worksImg
{
   object-fit: cover;
   height: 20rem;
   margin: 0.5rem;
   width: 20rem;
}